{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block body %}

<h1>Confirmation d'Inscription</h1>

<p>Merci, votre inscription a été confirmée avec succès !</p>

<form action="{{ path('coursLister') }}">
    <input type="hidden" name="_method" value="GET">
    <button type="submit">Liste des Cours</button>
</form>

{% endblock %}
