body {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-top: 6em;
    padding-bottom: 4em;
    background-color: #343a40;
    color: #969191;
}
div {
    display: flex;
    flex-wrap: wrap;
    justify-content: inherit;
}
.divMain {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.personnagesListe {
    display: flex;
    flex-wrap: inherit;
}
.listeButtons {
    width: 10em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em;
}
.paireLabelInput {
    flex-direction: column;
    flex-wrap: wrap;
}
.stats {
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-content: center;
    justify-content: center;
}
.stats .details {
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content;
    align-content: center;
    justify-content: center;
}
.outer-container{
    display: flex;
    flex-direction: row;
}
.container1 {
    width: fit-content;
    height: 6em;
    display: flex;
    justify-content: center;
}
.container {
    width: 45%;
    height: fit-content;
    margin: 0em 1em 1em 1em;
    justify-content: center;
}
.containerHeaderFooter{
    width: 95%;
}
.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;
    background: #333;
    padding: 10px 0;
    color: #fff;
}
.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}
.containerHeaderFooter p{
    line-height: 200px;
}
.btn-outline-dark {
    color: #ff9c5e;
    border-color: #a28f8f;
}

.btn-outline-dark:hover {
    color: #1c1917;
    background-color: #a28f8f;
    border-color: #a28f8f;
}
.paireLabelInput .btn {
    color: #969191;
}
.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 1em;
    margin-right: 1em;
}

.dropdown-content {
    display: none;
    position: absolute;
    top:2em;
    padding-top:1em;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: flex;

}